.cm-highlight {
    background-color: transparent !important;
}

.cm-highlight-default {
    background-color: var(--text-highlight-bg);
}

.enhanced-annotations__sidebar-outline {
    padding: 8px 0 0 !important;
}

.enhanced-annotations__status {
    display: flex;
    gap: 5px;
}

.enhanced-annotations__display-none {
    display: none;
}

.enhanced-annotations__suggestion-count {
    margin-left: auto;
    justify-self: end;
    opacity: 0.5;
}

.enhanced-annotations__suggestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.enhanced-annotations__settings-header{
    margin-top: 40px;
}
